@model IEnumerable<HomePhysio.Models.PhysioTimeSlotsModel>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid" style="margin-top: 30px ;font-family: Poppins-Bold; src: url('../fonts/poppins/Poppins-Bold.ttf'); ">

    <div style="height:50px; text-align:center">
        <h3 class="text-center" style="padding:10px;font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf'); ">
            <strong>My Schedule</strong>
        </h3>
    </div>

    <br />
    <p>
        <a asp-action="Create" class="btn btn-primary btn-sm text-white">Create schedule</a>
    </p>
    <br />
    <table class="table table-responsive" style="box-shadow: 0 0 0 5px rgba(0,0,0,0.05)" id="TimeSlotsTable">
        <thead>
            <tr style="background-color:#1977cc;color:white;">
                @*<th>
                        @Html.DisplayNameFor(model => model.PhysioTimeSlotsId)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.DateTimeShift.Year)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateTimeShift.Month)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateTimeShift.Day)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateTimeShift)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.PhysiotherapistId)
                    </th>*@
                <th>Changes</th>
            </tr>
        </thead>

    </table>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#TimeSlotsTable').DataTable({
                scrollY: '50vh',
                select: true,
                keys: true,
                colReorder: true,
                serverSide: true,
                dom: 'lrtip',
                ajax: {
                    url: '/TimeSlot/GetTimeSlotsData',
                    type: 'post',
                    datatype: 'json'
                },
                columns: [{ data: 'year', name: "Year", orderable: false },
                { data: 'month', name: "Month", orderable: false },
                { data: 'day', name: "Day", orderable: false },
                { data: 'time', name: "Time", orderable: false },
                {
                    "render": function (data, full, type, row) {

                        return `<a href='${window.location.href}/Edit/${type.physioTimeSlotsId}' class='btn btn-primary text-white' >Edit</a>
                                                <a href='${window.location.href}/Delete/${type.physioTimeSlotsId}' class='btn btn-danger text-white'>Delete</a>`;

                        //return `<a href='${window.location.href}/Edit?physioId=${type.physioTimeSlotsId}' class='btn btn-danger' >Edit</a>`;
                    }
                }

                ]

            });

        });
    </script>
}