@model IEnumerable<HomePhysio.Models.PhysioTimeSlotsModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table" id="TimeSlotsTable">
    <thead>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.PhysioTimeSlotsId)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.DateTimeShift.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTimeShift.Month)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTimeShift.Day)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTimeShift)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.PhysiotherapistId)
                </th>*@
            <th>Changes</th>
        </tr>
    </thead>
   
</table>
@section scripts{
    <script>
    $(document).ready(function () {
        $('#TimeSlotsTable').DataTable({
            scrollY: '50vh',
            select: true,
            keys: true,
            colReorder: true,
            serverSide: true,
            dom: 'lrtip',
            ajax: {
                url: '/TimeSlot/GetTimeSlotsData',
                type: 'post',
                datatype:'json'
            },
            columns: [{ data: 'year', name: "Year", orderable:false },
                { data: 'month', name: "Month", orderable: false },
                { data: 'day', name: "Day", orderable: false },
                { data: 'time', name: "Time", orderable: false },
                {
                    "render": function (data, full, type, row) {

                        return `<a href='${window.location.href}/Edit/${type.physioTimeSlotsId}' class='btn btn-primary' >Edit</a>
                                <a href='${window.location.href}/Delete/${type.physioTimeSlotsId}' class='btn btn-danger'>Delete</a>`;
                                
                        //return `<a href='${window.location.href}/Edit?physioId=${type.physioTimeSlotsId}' class='btn btn-danger' >Edit</a>`;
                    }
                }

            ]

        });

    });
    </script>
}