@model IEnumerable<HomePhysio.Models.CategoryModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="categoryTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CatInfo)
            </th>
            <th></th>
        </tr>
    </thead>
    @*<tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CatInfo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CategoryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>
            </td>
        </tr>
}

    </tbody>*@
</table>
@section scripts{
<script>
    $(document).ready(function () {
        $('#categoryTable').DataTable({
            scrollY: '50vh',
            select: true,
            keys: true,
            colReorder: true,
            serverSide: true,
            dom: 'lrtip',
            ajax: {
                url: '/CategoryModels/GetCategoryData',
                type: 'post',
                datatype:'json'
            },
            columns: [{ data: 'name', name: "Name"},
                { data: 'catInfo', name: "CatInfo" },
                {
                    "render": function (data, full, type, row) {
                        
                        return `<a href='${window.location.href}/Edit/${type.categoryId}' class='btn btn-primary' >Edit</a>
                                <a href='${window.location.href}/Delete/${type.categoryId}' class='btn btn-danger'>Delete</a>`;

                    }
                }
               
            ]

        });
      
    });
</script>
 }